.place {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 0 80px;
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 520px) {
    .place {
        flex-direction: column;
        margin-bottom: 72px;
    }
}