.place {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 40px)/2));
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 39px;
    margin: 0 0 80px;
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 520px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        row-gap: 32px;
        margin-bottom: 49px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-rows: repeat(3, auto);
    }
}